.paymentChart_wrapper {
  padding: 20px;
  border-radius: var(--Corner-Radius, 10px);
  background: var(--white, #fff);

  .header_wrapper {
    h2 {
      color: var(--Text-white, #1e1e1e);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .apexcharts-legend {
    height: 100% !important;
    position: absolute;
    left: auto;
    top: 0px !important;
    right: 0px !important;
    padding: 0 !important;
    justify-content: center !important;
    gap: 8px;

    @media only screen and (max-width: 600px) {
      gap: 4px;
    }

    .apexcharts-legend-series {
      display: flex;
      align-items: center;
      gap: 10px;
      .apexcharts-legend-marker {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
      }
      .apexcharts-legend-text {
        color: var(--Paragraph-text-colour, #a6a6a6) !important;
        font-family: "Nunito Sans" !important;
        font-size: 12px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
      }
    }
  }
}
