.AccountMetrics_main {
  .accountMetrics_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .accountMetrics_wrapper_top {
      display: flex;
      gap: 20px;

      .top_left_div {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        align-self: stretch;

        border-radius: var(--table-box, 20px);
        background: #fff;

        .top_left_div_buttons {
          display: flex;
          gap: 20px;
          button {
            display: flex;
            width: 92px;
            padding: 6px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: var(--Corner-Radius, 10px);
            border: 1px solid var(--Brand-1, #04d9ff);
            background: var(--new-body, #c5ffff);
          }
        }

        .top_left_div_lower {
          display: flex;
          padding: 20px;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          border-radius: var(--table-box, 20px);
          background: var(--Table-box-selected, #f5f5f5);
        }
      }

      .top_right_div {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: var(--table-box, 20px);
        background: #fff;

        .top_right_div_header {
          color: var(--Text, #1e1e1e);
          font-family: "Nunito Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .top_right_div_lower {
        display: grid;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        border-radius: var(--table-box, 20px);
        background: var(--Table-box-selected, #f5f5f5);
        width: 100%;
      }
    }

    .accountMetrics_wrapper_bottom {
      display: flex;
      gap: 20px;

      .bottom_main_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .bottom_main_left_charts {
          display: flex;
          padding: 20px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          gap: 20px;
          align-self: stretch;

          border-radius: var(--table-box, 20px);
          background: #fff;
        }

        .bottom_main_left_satistic {
          display: flex;
          height: 322px;
          padding: 20px;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          align-self: stretch;

          border-radius: var(--table-box, 20px);
          background: #fff !important;

          .bottom_main_left_satistic_inner {
            display: grid;
            grid-template-columns: repeat(6, 2fr);
          }
        }
      }

      .bottom_main_right {
        display: flex;
        width: 383px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        border-radius: var(--table-box, 20px);
        background: #fff;

        .bottom_main_right_inner {
          display: flex;
          flex-direction: column;
          gap: 16px;
          div {
            display: flex;
            padding: 20px;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 0;
            align-self: stretch;

            border-radius: var(--table-box, 20px);
            background: var(--Table-box-selected, #f5f5f5);

            button {
              display: flex;
              width: 92px;
              padding: 6px 10px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: var(--Corner-Radius, 10px);
              border: 1px solid var(--In-progress, #f4ea0f);
              background: var(--in-Progress-Body, #fffdcf);
            }
          }
        }
      }
    }
  }
}
