.accountRange_Wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background: var(--Box-1, #27313e);
  width: 100%;
  min-width: 405px;
  position: absolute;
  z-index: 5;
  margin-top: 10px;

  @media only screen and (max-width: 800px) {
    min-width: 70vw;
    right: 1px;
  }

  .header_wapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    img {
      cursor: pointer;
    }
  }

  .country_info {
    p {
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .action_btn_wrapper {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    Button {
      max-width: 94px;

      &.clr_btn {
        height: 44px;
        padding: 0px 20px;
        border-radius: 10px;
        background: var(--Text-white) !important;
        min-width: 94px;
        color: var(--navy-blue);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &.apply_btn {
        color: #12181f;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--blue-color) !important;
      }
    }
  }

  .ant-slider {
    .ant-slider-rail {
      background: var(--Text-white);
    }
    .ant-slider-track {
      background: var(--Text-white);
    }
    .ant-slider-handle {
      &::after {
        background-color: var(--Text-white);
        box-shadow: 0 0 0 2px var(--blue-color);
      }
    }
  }
}
.ant-slider-tooltip {
  .ant-tooltip-arrow {
    &::before {
      background: var(--blue-color);
    }
  }
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background: var(--blue-color);
      border-radius: 12px;
      color: var(--navy-blue);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
