.payoutChart_wrapper {
  padding: 20px;
  border-radius: var(--Corner-Radius, 10px);
  background: var(--white, #fff);
  display: grid;
  grid-template-rows: 10% 90%;
  .header_wrapper {
    h2 {
      color: var(--Text-white, #1e1e1e);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .apexcharts-legend {
    height: 100% !important;
    position: absolute;
    // left: auto;
    // top: 0px !important;
    // right: 0px !important;
    // padding: 0 !important;
    // justify-content: center !important;
    // gap: 8px;
    .apexcharts-legend-series {
      display: flex;
      align-items: center;
      gap: 10px;
      .apexcharts-legend-marker {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50% !important;
      }
      .apexcharts-legend-text {
        color: var(--Paragraph-text-colour, #a6a6a6) !important;
        font-family: "Nunito Sans" !important;
        font-size: 12px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
      }
    }
  }
}

#payoutChart {
  display: grid;
  grid-template-columns: 80% 20%;
  #custom_pie_chart {
    min-height: 100% !important;
  }
  .apexcharts-canvas {
    height: 100% !important;
  }
  .apexcharts-svg {
    height: 100% !important;
    foreignObject {
      height: 100% !important;
      .apexcharts-legend {
        top: 0px !important;
      }
    }
  }
  .m2 {
    margin-bottom: 1px;
  }

  .mml {
    margin-left: -3rem;
  }
  .piechartamount {
    font-family: "Nunito Sans";
    font-size: 11px;
  }
}
