.payoutChart_wrapper {
  padding: 20px;
  border-radius: var(--Corner-Radius, 10px);
  background: var(--white, #fff);
  display: grid;
  grid-template-rows: 5% 95%;

  .header_wrapper {
    h2 {
      color: var(--Text-white, #1e1e1e);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .apexcharts-legend {
    height: 100% !important;
    position: absolute;
    left: auto;
    top: 0px !important;
    right: 0px !important;
    padding: 0 !important;
    justify-content: center !important;
    // gap: 8px;

    max-height: 200px !important;
    overflow: auto;

    @media only screen and (max-width: 650px) {
      display: none;
    }
    .apexcharts-legend-series {
      display: flex;
      align-items: center;
      gap: 10px;
      .apexcharts-legend-marker {
        width: 14px !important;
        height: 14px !important;
        border-radius: 50% !important;
      }
      .apexcharts-legend-text {
        color: var(--Paragraph-text-colour, #000) !important;
        font-family: "Nunito Sans" !important;
        font-size: 11px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
      }
    }
  }
}

#payoutChart {
  display: grid;
  grid-template-columns: 80% 20%;
  @media only screen and (max-width: 650px) {
    grid-template-columns: 100%;
  }
  #custom_pie_chart {
    min-height: 100% !important;
  }
  .apexcharts-canvas {
    height: 100% !important;
  }
  .apexcharts-svg {
    min-height: 100%;
    foreignObject {
      height: 100% !important;
      .apexcharts-legend {
        // top: 0px !important;
      }
    }
  }
  // .m2 {
  //   margin-top: 1px;
  // }

  .mt20 {
    margin-top: 20px;
  }

  // .mml {
  //   margin-left: -3rem;
  // }
  .piechartamount {
    font-family: "Nunito Sans";
    font-size: 11px;
    color: #000;
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
  .mobileLabels_container {
    @media only screen and (min-width: 650px) {
      display: none !important;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;

    .label_with_value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      .labels {
        display: flex;
        align-items: center;
        .circle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 5px;
          display: inline-block;
        }
        .label {
          color: var(--Paragraph-text-colour, #a6a6a6) !important;
          font-family: "Nunito Sans" !important;
          font-size: 13px !important;
          font-style: normal !important;
          font-weight: 400 !important;
          line-height: 24px !important;
          text-wrap: nowrap !important;
          @media only screen and (min-width: 360px) {
            font-size: 12px;
          }
        }
      }

      .value {
        color: var(--Text-white, #000);
        font-family: "Nunito Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        @media only screen and (min-width: 360px) {
          font-size: 14px;
        }
      }
    }
  }
}
