.long_short_balance {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .databox_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 20px;

    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .databox {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #d2d2d2;
    &:last-child {
      border-right: none !important;
    }
    @media (max-width: 1150px) {
      &:nth-child(2),
      &:nth-child(4) {
        border-right: none !important;
      }
    }
    @media (max-width: 550px) {
      border-bottom: 1px solid #d2d2d2 !important;
      border-right: none !important;
      padding-bottom: 10px;
      &:last-child {
        border-bottom: none !important;
      }
    }

    .db_header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      h3 {
        color: var(--Text-2, #686868);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .title {
      font-family: "Nunito Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    .title.long {
      color: #5f9d51;
    }
    .title.short {
      color: #e92b37;
    }

    .value {
      color: var(--Text, #1e1e1e);

      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
    }

    .data_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .long_short_balance_charts {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    .tabs_wrapper {
      width: auto;
    }

    .long_balance_chart {
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      height: 410px;
      flex: 1;

      border-radius: var(--table-box, 20px);
      background: #fff;

      .chart {
        // padding: 20px;
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }

      .long_balance_chart_header_tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .long_balance_chart_header {
          h2 {
            color: #000;
            font-family: "Nunito Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }

    .short_balance_chart {
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      height: 410px;
      flex: 1;
      border-radius: var(--table-box, 20px);
      background: #fff;

      .chart {
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }

      .short_balance_chart_header_tabs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .short_balance_chart_header {
          h2 {
            color: #000;
            font-family: "Nunito Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
}
