.long_short_balance{
    .databox_wrapper{
      display: grid;
      grid-template-columns: repeat(5 , 1fr);
      grid-gap: 20px;
      margin-top: 20px;

    }
    .databox{
        padding:0 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-right: 1px solid #D2D2D2;
        &:last-child{
            border-right: none !important;
          }
        .db_header{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            h3{
                color: var(--Text-2, #686868);
                font-family: "Nunito Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;  
            }
        }

        .title{
       
            font-family: "Nunito Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
        }
        .title.long{
            color: #5F9D51;
        }
        .title.short{
            color: #E92B37; 
        }

        .value{
            color: var(--Text, #1E1E1E);
   
            font-family: "Nunito Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 120% */ 
        }

        .data_wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
}