.trader-overview {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .ant-table-thead {
    position: relative;
    z-index: 1;
  }

  .trader-overview-header-left {
  }

  .trader-overview-header-left_inner {
    display: flex;
    align-items: center;
    gap: 20px;

    &:first-child {
      .header-select {
        .ant-select-selector {
          overflow: hidden !important;
        }
      }
    }
    &:last-child {
      .header-select {
        height: 100% !important;
        .ant-select-selector {
          overflow: auto !important;
          max-height: 55px !important;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
    @media (max-width: 440px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 720px) {
      width: 100%;
    }
  }

  /* CSS to style custom scrollbar for Ant Design table */

  .ant-table {
    overflow-x: auto;
    scrollbar-width: thin; /* Thin scrollbar (works in Firefox) */
    scrollbar-color: var(--blue-color) var(--Stroke, #252a29); /* Color of the scrollbar (thumb and track) */
  }

  /* Webkit (Chrome, Safari) scrollbar customization */
  .ant-table::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  .ant-table::-webkit-scrollbar-track {
    background: var(--Stroke, #252a29); /* Background color of the scrollbar track */
  }

  .ant-table::-webkit-scrollbar-thumb {
    background: var(--blue-color); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }

  .ant-table::-webkit-scrollbar-thumb:hover {
    background: var(--green-shade1); /* Color of the scrollbar thumb on hover */
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    .disable-enable-btn {
      padding: 0px;
    }
    .Reinstate {
      > svg {
        > path {
          stroke: var(--orange-border-color);
          fill: var(--orange-bg-color);
        }

        > g {
          > path {
            stroke: var(--orange-border-color);
          }
        }
      }
    }
    .disable-enable-btn.active {
      background-color: var(--green-border-color);
    }
    .disable-enable-btn.inactive {
      background-color: var(--red-border-color);
    }
    button {
      display: flex;
      padding: 6px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
      border-radius: var(--Corner-Radius, 10px);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: 0;
    }
    .btn-block {
      background: var(--text-black);
      color: var(--Text-white);
      min-height: 19px;

      &:hover {
        border: 0;
        background: var(--text-black) !important;
        color: var(--Text-white) !important;
      }
    }
    .btn-unblock {
      border-radius: var(--Corner-Radius, 10px) !important;
      background: #eee !important;

      &:hover {
        border: 0;
        border-radius: var(--Corner-Radius, 10px) !important;
        background: #eee !important;
      }
    }

    .btn-delete {
      color: var(--Red);
      border: 1px solid var(--Red);
      background-color: transparent;
    }
  }
  .trader-overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      gap: 20px;
    }

    .trader-overview-header-left {
      display: flex;
      align-items: center;
      gap: 10px;

      flex-wrap: wrap;

      @media only screen and (max-width: 800px) {
        margin-right: auto;
      }

      .header-select {
        // display: flex;
        height: 42px;
        width: 100% !important;
        align-items: center;
        gap: 10px;
        border-radius: var(--Corner-Radius, 10px);
        border: 1px solid var(--Stroke, #252a29);
        background: var(--Text-white);

        @media only screen and (max-width: 430px) {
          width: 100% !important;
        }
      }
      .ant-select-selector {
        background: var(--Text-white);
        border: none;
        color: var(--primary-text-color);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        outline: none;
        // overflow: auto;
      }
      .ant-select-arrow {
        color: var(--primary-text-color);
      }
      // .ant-select-selection-item-content,.ant-select-selection-item{
      //   display: none !important;
      // }
    }
  }
  .trader_overview_header_row2 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    @media only screen and (max-width: 1344px) {
      flex-direction: column;
    }

    .trader_overview_row2_groupA {
      display: flex;
      gap: 10px;
      width: 100%;
      max-width: fit-content;
      .search_box_wrapper {
        @media only screen and (max-width: 806px) {
          width: 415px !important;
          max-width: 100%;
        }
      }
      @media only screen and (max-width: 810px) {
        flex-direction: column;
        max-width: 100%;
      }
    }
    .trader_overview_row2_groupB {
      display: flex;
      gap: 20px;
      @media only screen and (max-width: 854px) {
        flex-direction: column;
      }
    }
    .ant-picker {
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid var(--Stroke, #252a29);
      background: var(--Text-white);
      // width: 100%;
      width: 240px;

      @media only screen and (max-width: 810px) {
        width: 100% !important;
        min-height: 44px;
        max-width: 413px !important;
      }

      .ant-picker-active-bar {
        display: none;
      }

      .ant-picker-range-separator {
        span {
          color: var(--primary-text-color) !important;
        }
      }
      .ant-picker-suffix {
        cursor: pointer !important;
        span {
          svg {
            fill: var(--primary-text-color);
          }
        }
      }
    }
  }

  .title {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
    text-wrap: nowrap;
  }

  .ant-card-body {
    padding: 0px !important;
  }
}

.ant-picker-panels {
  @media only screen and (max-width: 912px) {
    flex-direction: column;
    gap: 20px;
    // max-width: 100%;
  }
  .ant-picker-panel {
    border-bottom: 1px solid var(--Stroke, #252a29) !important;
    background: var(--Text-white) !important;

    button {
      color: var(--primary-text-color) !important;
    }

    .ant-picker-header-view {
      button {
        color: var(--text-black) !important;
      }
    }
    .ant-picker-date-panel {
      .ant-picker-body {
        tbody {
          tr {
            td {
              .ant-picker-cell-inner {
                color: var(--text-black) !important;
              }
            }
            .ant-picker-cell-in-range {
              div {
                color: var(--text-black) !important;
              }
              &:not(.ant-picker-cell-disabled):before {
                background: var(--blue-color) !important;
              }
            }

            .ant-picker-cell-range-start {
              &:not(.ant-picker-cell-disabled):before {
                color: var(--text-black) !important;
                background: var(--blue-color) !important;
              }
            }

            .ant-picker-cell-range-end {
              &:not(.ant-picker-cell-disabled):before {
                color: var(--text-black) !important;
                background: var(--blue-color) !important;
              }
            }
          }
        }
      }
    }
  }
}
.table-modal {
  display: flex;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .ant-modal-content {
    border-radius: var(--table-box, 20px);
    background: var(--navy-blue);

    .ant-modal-header {
      background: var(--navy-blue);

      .ant-modal-title {
        color: var(--Text-white);
      }
    }
    .ant-modal-close-x {
      span {
        color: var(--Text-white);
      }
    }
    .ant-modal-body {
      .modal-content {
        .modal-title {
          color: var(--Text-white);
        }
      }
    }
  }
  .ant-modal-title {
    color: var(--text-black);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    .modal-title {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    textarea {
      width: 100%;
      display: flex;
      padding: 10px 20px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: var(--table-box, 20px);
      background: var(--Text-white);
      min-height: 70px;
      resize: none;
    }
  }
  .modal-btns-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .cancel-btn {
      height: 44px;
      width: 100%;
      max-width: 155px;
      border-radius: 10px;
      border: 1px solid var(--blue-color);
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background-color: transparent;
    }
    .block_btn {
      color: var(--navy-blue);
      background: var(--blue-color);
      max-width: 155px;
    }
  }
}

.ant-radio-group {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 6px;
  max-height: 44px;
  border-radius: var(--Corner-1, 10px);
  border: 1px solid var(--Stroke, #252a29);
  background: var(--Text-white);
  max-width: fit-content;
  // flex-basis: 20%;
  flex-shrink: 1;
  // overflow: auto;
  @media only screen and (max-width: 478px) {
    max-height: 85px;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .ant-radio-button-wrapper {
    display: flex;
    min-height: 36px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Corner-1, 5px);
    color: var(--navy-blue);
    border: 0;
    background: transparent;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    &:not(:first-child)::before {
      display: none;
    }

    &.ant-radio-button-wrapper-checked {
      background: var(--blue-color);
      color: var(--navy-blue);
    }
  }
}

.status_text {
  &.evaluation {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-bg-color);
    color: var(--orange-border-color);
    border-radius: 4px;
    padding: 8px;
  }
}

// .widthFitContent {
//   display: none;
//   max-width: 200px !important;
//   // overflow: scroll;
// }

.ant-select-selector {
  min-width: 200px !important;
}

// .ant-select-selection-item {
//   display: none !important;
// }
.NestedTable {
  display: flex;
  // justify-content: space-between;
  gap: 10%;
  align-items: center;
  padding: 1rem;
  p {
    color: var(--navy-blue);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
  }
}

.label {
  .label {
    font-size: 16px;
    color: var(--text-black);
  }
}
.phase_filters {
  @media only screen and (max-width: 478px) {
    display: none;
  }
}
.mobileFilter {
  display: none;

  @media only screen and (max-width: 478px) {
    display: block;
  }
}

.ant-select-multiple .ant-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  // max-width: 208px;
}

.ant-dropdown {
  z-index: 1 !important;
}
