.statisticChart_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  border-radius: var(--table-box, 20px);
  background: #fff;

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    h3 {
      color: var(--Text-white, #1e1e1e);
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .chart_filter {
      max-width: 90px;
      .ant-select-selector {
        border-radius: var(--inner-box, 5px) !important;
        border: 1px solid var(--Stroke, #252a29) !important;
        background: var(--Main-Background, #f6fefe) !important;
      }
    }
  }
}

.chotaCalendar {
  .ant-select-selector,
  .ant-picker-range-separator,
  .ant-picker-active-bar {
    display: none;
  }
  .ant-picker {
    width: 44px;
  }
  .ant-picker-input{
    width: 0;
    opacity: 0;  }
}
