.create_affiliate_code_wrapper {
  .header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      align-items: stretch;

      button {
        margin-left: auto;
      }
    }
  }

  .ant-select-selector {
    border-radius: var(--Corner-2, 10px);
    border: 1px solid var(--Stroke, #686868) !important;
    background: transparent !important;
    &:hover {
      border: 1px solid var(--Brand, #04d9ff) !important;
      background: transparent;
    }
    &:focus-within {
      border: 1px solid var(--Brand, #04d9ff) !important;
      background: var(--Table-header-fill, #edf0f0) !important;
    }
  }

  .affiliate_input {
    border-radius: var(--Corner-2, 10px);
    border: 1px solid var(--Stroke, #686868) !important;
    background: transparent !important;

    &:hover {
      border: 1px solid var(--Brand, #04d9ff) !important;
      background: transparent;
    }
    &:focus-within {
      border: 1px solid var(--Brand, #04d9ff) !important;
      background: var(--Table-header-fill, #edf0f0) !important;
    }
  }

  .create_plan_form {
    margin-top: 20px;
    padding: 20px;
    border-radius: var(--table-box, 20px);
    background: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .form_input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        color: var(--Text-white, #1e1e1e);
        font-family: var(--primary-font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .ant-input-affix-wrapper {
        &:focus-within {
          border: 1px solid var(--Brand, #04d9ff) !important;
          background: var(--Table-header-fill, #edf0f0) !important;
        }
      }
    }

    .row1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
    .row2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;

      input {
        border: 0 !important;
        &:focus-within {
          border: 0 !important;
          background: var(--Table-header-fill, #edf0f0) !important;
        }
      }
    }

    .create_button_wrapper {
      display: flex;
      justify-content: flex-end;
      button {
        max-width: 155px;
        @media only screen and (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
}
