.payout_main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .payout_header {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media only screen and (max-width: 748px) {
      flex-direction: column;
    }
    .payout_header_right {
      display: flex;
      gap: 20px;
      flex-direction: row-reverse;
      @media only screen and (max-width: 450px) {
        flex-direction: column !important;
      }
    }
    h2 {
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }

  .export_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    @media only screen and (max-width: 1400px) {
      margin-left: auto;
    }

    .link {
      color: var(--blue-color);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
      text-wrap: nowrap;
    }

    button {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      min-height: 44px;
      padding: 0px 15px;
      border-radius: 10px;
      background: var(--Text-white);

      &:hover {
        border: 1px solid var(--Text-white) !important;
        color: var(--text-black) !important;
        background: var(--Text-white) !important;
      }
    }
  }

  .payout_lower_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    span {
      display: flex;
      width: fit-content;
      padding: 0px 10px;
      min-height: 27px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      align-self: stretch;
      color: var(--text-black);
      leading-trim: both;
      text-edge: cap;
      font-family: "Nunito Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex-direction: row-reverse;
    }
    span.green {
      border-radius: var(--table-box, 20px);
      border: 0.5px solid var(--green-border-color);
      background: var(--green-bg-color);
    }
    span.red {
      border-radius: var(--table-box, 20px);
      border: 0.5px solid var(--red-border-color);
      background: var(--red-bg-color);
    }
    .payout_infobox_wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      width: 100% !important;
      @media only screen and (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr) !important;
      }
      @media only screen and (max-width: 580px) {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
    .payout_lower_heading_left {
      width: 100%;
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      flex: 1 0 0;

      border-radius: var(--table-box, 20px);
      background: var(--Text-white);

      @media only screen and (max-width: 1400px) {
        max-width: 563px;
        width: 100%;
      }

      h3 {
        color: var(--gray);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;

        @media only screen and (max-width: 768px) {
          font-size: 16px;
        }

        span {
          color: var(--text-black);
          font-family: "Nunito Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }

      .payout_lower_heading_inner {
        display: flex;
        gap: 10px;
        h2 {
          color: var(--text-black);
          leading-trim: both;
          text-edge: cap;
          font-family: "Nunito Sans";
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          gap: 10px;
        }

        button {
          border-radius: var(--table-box, 20px);
          border: 0.5px solid var(--green-border-color);
          background: var(--green-bg-color);
          display: flex;
          padding: 0px 10px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
        }
      }
    }

    .payout_btn_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .payout_btn {
        display: flex;
        height: 46px;
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: flex-end;
        width: fit-content;

        border-radius: 10px;
        background: var(--Text-white);

        button {
          border: none;
        }
      }
      p {
        color: var(--blue-color);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }

  .payout_lower_heading_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 425px) {
      flex-direction: column !important;
      align-items: flex-start !important;
      gap: 10px !important;
    }
    .left {
      h3 {
        color: var(--Text-white);
        font-family: "Nunito Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .right {
      display: flex;
      padding: 13px 35px;
      align-items: flex-start;
      gap: 10px;
      @media only screen and (max-width: 1400px) {
        padding: 13px 20px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 12px;
      }
      border-radius: 10px;
      background: var(--blue-color);

      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

// Payout history table

.payoutExportHistory_main {
  display: flex;
  gap: 20px;
  flex-direction: column;

  .payoutExportHistory_download_btn {
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--green-border-color);
    background: var(--green-bg-color);

    display: flex;
    height: 32px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
