.createCouponModal_container {
  .createCouponModal_wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    color: #1e1e1e;
    border-radius: 20px;
    background: #fff;
    position: relative;
    margin-top: 20px;
    .header_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
        color: var(--Text-white, #1e1e1e);
        font-family: var(--primary-font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .createCouponForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form_input_box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .ant-select {
          .ant-select-selector {
            border: 1px solid var(--Stroke, #686868) !important;
            background: transparent !important;

            &:focus-within {
              border: 1px solid var(--Brand, #04d9ff) !important;
              background: var(--Main-Background, #edf0f0) !important;
            }

            .ant-select-selection-placeholder {
              padding-left: 10px;
            }
          }
        }

        .ant-input-affix-wrapper {
          &:focus-within {
            border: 1px solid var(--Brand-1, #04d9ff) !important;
            background: var(--Table-header-fill, #edf0f0) !important;
          }
          .ant-input {
            padding-left: 10px !important;
            border: 0 !important;
            &:focus-within {
              background: var(--Table-header-fill, #edf0f0) !important;
            }
          }
        }

        .ant-picker {
          max-width: 100%;
          background: transparent !important;
          border: 1px solid var(--Stroke, #686868) !important;

          &:focus-within {
            border: 1px solid var(--Brand, #04d9ff) !important;
            background: var(--Main-Background, #edf0f0) !important;
          }

          .ant-picker-input {
            padding-left: 10px;
          }
        }
      }

      .topSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .bottomSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
        gap: 20px;
      }

      .footerSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .status_checkbox_wrapper {
          .ant-checkbox-wrapper {
            span {
              color: var(--Text-white, #1e1e1e);
              font-family: var(--primary-font-family);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }

        .save_changes_btn {
          color: var(--Main-Background, #12181f);
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: flex;
          max-width: 155px;
          width: 100%;
          height: 44px;
          padding: 0px 20px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: var(--Brand, #04d9ff);
          margin-left: auto;

          @media only screen and (max-width: 432px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
