.payment_export{
background: #27313E;
border: none;
    .download_btn{
        border-radius: var(--Corner-Radius, 10px);
        border: 1px solid var(--green-border-color);
        background: var(--green-bg-color); 
    }
}