.TradingTagList_wrapper {
  .header_box_Trading_Tag_List {
    .header_box_row2 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      align-self: stretch;
      padding-block: 20px;
      .dropdown_filter {
        display: flex;
        height: 46px;
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--Text-white);

        img {
          width: 17px;
          height: 17px;
        }
        p {
          color: var(--text-black);
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

.TradingTagList_filters {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Corner-1, 5px);
  position: absolute !important ;
  right: -20px !important;
  top: 10px;
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--blue-color);
  background: var(--navy-blue) !important;
}

.ant-dropdown-menu-item {
  color: var(--Text-white) !important;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ant-dropdown-menu-item:hover {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--blue-color);
  background: var(--blue-color) !important;
}
.ant-dropdown-menu-title-content {
  white-space: nowrap;
}
