.fundedAccGraph_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  border-radius: var(--table-box, 20px);
  background: #fff;

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    h3 {
      color: var(--Text-white, #1e1e1e);
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
