// AntTable.scss

/* Change the background color of the table */
.ant-table-wrapper {
  border-radius: var(--Corner-Radius, 10px);
  background: var(--white, #fff);
}

.ant-table-thead > tr > th {
  color: #1e1e1e !important;
}

.ant-table-tbody > tr > td {
  background-color: #141a17;
  color: #a6a6a6 !important;
}

.highlight {
  background-color: #04d9ff;
  color: #000;
}

.ant-table-tbody > tr:hover > td {
  background: #f6fefe !important;
}

.ant-table-cell-row-hover {
  background: #f6fefe !important;
}

.ant-empty-description {
  color: #1e1e1e !important;
}

.ant-table-cell::before {
  background: none !important;
}

// Table alignment

.ant-table {
  background: #000;
}

.ant-table-thead > tr > th {
  background: #333;
  color: #1e1e1e;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #444;
  white-space: normal;
  width: 100px !important;
  text-wrap: nowrap;
}

.ant-table-tbody > tr > td {
  color: #686868;
  white-space: normal;
  min-width: 150px !important;
  background: var(--white, #fff);
}

.ant-table-pagination {
  background: #000;
}

.ant-table-tbody > tr:hover > td {
  background: #262626;
}

.table-wrapper {
  border-radius: var(--Outside-box, 10px);
  padding: 0 !important;
}

.ant-table-container {
  background: var(--Main-Background, #f6fefe) !important;
}

.ant-table-cell {
  &::before {
    background: var(--Main-Background, #f6fefe) !important;
  }
}

thead tr {
  background: var(--Main-Background, #edf0f0) !important;

  th {
    background: var(--Main-Background, #edf0f0) !important;
    color: var(--Text-white, #1e1e1e) !important;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border: none !important;
  }
}

td {
  border: none !important;
}

tbody {
  tr {
  }

  td {
    color: var(--Paragraph-text-colour, #a6a6a6);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-bottom: 1px solid #686868 !important;
  }
}

.ant-pagination {
  display: flex;
  align-items: center !important;

  .ant-pagination-item {
    a {
      color: #000 !important;
    }
  }

  .ant-pagination-total-text {
    margin-right: auto !important;
    color: #1e1e1e;

    @media only screen and (max-width: 800px) {
      display: none;
    }

    @media only screen and (max-width: 705px) {
      margin: 0 !important;
      width: fit-content;
    }
  }

  .ant-pagination-options {
    margin-left: auto !important;
  }
}

.ant-table {
  .info-btn {
    color: #1e1e1e !important;
    cursor: pointer;
  }

  .ant-table-cell {
    a {
      color: #1e1e1e !important;
      cursor: pointer;
    }
    .index_cell {
      min-width: 61px !important;
    }
  }

  .action_btn {
    min-height: 35px;
    max-width: 100px;
  }
}

.clickable-row {
}

.ant-table {
  .info-btn {
    color: #1e1e1e !important;
    cursor: pointer;
  }

  .ant-table-cell {
    a {
      color: #1e1e1e !important;
      cursor: pointer;
    }

    .index_cell {
      min-width: 61px !important;
    }
  }

  .action_btn {
    min-height: 35px;
    max-width: 100px;
  }
}

// Pangination

.ant-pagination {
  display: flex;
  border-radius: var(--Outside-box, 10px);
  background: var(--Main-Background, #fff);
  padding: 15px 20px;
  margin: 0 !important;
  .ant-table-pagination-right {
    justify-content: center !important;
  }

  .ant-pagination-item-active {
    background-color: #04d9ff !important;

    a {
      color: #000 !important;
    }

    background-color: none !important;
    border-radius: 5px !important;
    border: none !important;
  }

  .ant-pagination-item {
    a {
      color: #1e1e1e;
    }

    background-color: none !important;
    border-radius: 5px !important;
    border: none !important;
  }

  .ant-pagination {
    li {
      background-color: none !important;
    }
  }

  .ant-pagination-item-link {
    color: #1e1e1e !important;
  }

  .ant-pagination-item-ellipsis {
    color: #1e1e1e !important;
  }

  .ant-pagination-small {
    font-size: 12px;
  }

  .ant-pagination-options {
    display: flex;
    align-items: center;
    gap: 10px;

    @media only screen and (max-width: 705px) {
      justify-content: center !important;
      margin-left: 0 !important;
    }

    @media only screen and (max-width: 500px) {
      flex-direction: column !important;
    }

    .ant-pagination-options-quick-jumper {
      display: flex;
      height: 100%;
      margin-inline-start: 0px;
      line-height: 32px;
      vertical-align: middle;
      color: #1e1e1e !important;

      input {
        width: 65px !important;
        color: #1e1e1e !important;
        border-radius: 5px !important;
        border: 1px solid var(--Stroke, #252a29) !important;
        background: #f6fefe !important;
      }
    }

    .ant-select-selector {
      border: 1px solid var(--Text-2, #686868) !important;
    }
  }

  .clickable-row {
  }
}

.ant_table_container {
  .ant-table {
    overflow-x: auto;
    scrollbar-width: thin; /* Thin scrollbar (works in Firefox) */
    scrollbar-color: var(--Brand, #04d9ff) var(--Stroke, #161d26); /* Color of the scrollbar (thumb and track) */

    .ant-table-body {
      @media only screen and (max-width: 768px) {
        max-height: 60vh !important;
      }
    }
  }

  /* Webkit (Chrome, Safari) scrollbar customization */
  .ant-table::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  .ant-table::-webkit-scrollbar-track {
    background: var(--Stroke, #252a29); /* Background color of the scrollbar track */
  }

  .ant-table::-webkit-scrollbar-thumb {
    background: var(--Brand, #04d9ff); /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }

  .ant-table::-webkit-scrollbar-thumb:hover {
    background: var(--Brand-hover, #5ac9a7); /* Color of the scrollbar thumb on hover */
  }
}

.ant-table-row-expand-icon-cell {
  button {
    background: none !important;

    &:hover {
      color: #04d9ff !important;
    }
  }
}
