.stageManager_container {
  display: flex !important;
  flex-direction: column;
  gap: 20px;

  h2 {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-wrap: nowrap;
  }

  .header_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (max-width: 748px) {
      flex-direction: column;
    }
    h2 {
      margin-right: auto;
      @media only screen and (max-width: 748px) {
        text-align: left !important;
      }
    }
  }

  .table_header_filter {
    display: flex !important;
    gap: 20px;
    @media only screen and (max-width: 1410px) {
      flex-wrap: wrap;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: flex-end;
    }

    .ant-picker {
      max-height: 44px;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid var(--Stroke, #252a29);
      background: var(--Text-white);
      width: 100%;
      max-width: 364px;
      flex-basis: 30%;
      flex-shrink: 2;
      .ant-picker-input {
        input {
          color: var(--primary-text-color) !important;
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &::placeholder {
            color: var(--primary-text-color);
          }
        }
      }

      .ant-picker-active-bar {
        display: none;
      }

      .ant-picker-range-separator {
        span {
          color: var(--primary-text-color) !important;
        }
      }
      .ant-picker-suffix {
        cursor: pointer !important;
        span {
          svg {
            fill: var(--primary-text-color);
          }
        }
      }
    }
  }
  .filter_buttons {
    display: flex;
    gap: 6px;
    padding: 4px;
    align-items: center;

    @media only screen and (max-width: 1024px) {
      display: none;
    }

    @media only screen and (max-width: 900px) {
      max-width: fit-content;
      flex-wrap: wrap;
      // flex-direction: column;
      // align-items: flex-start;
    }

    @media only screen and (max-width: 570px) {
      button {
        padding: 4px 2px;
      }
    }

    border-radius: var(--Corner-1, 5px);
    border: 1px solid var(--Stroke, #252a29) !important;
    background: var(--Text-white);
    button {
      border-radius: var(--Corner-1, 5px);
      background: transparent !important;
      color: var(--text-black);
      border: none;
    }
    .active {
      background: var(--blue-color) !important;
      color: var(--text-black) !important;
    }
    .active:hover {
      color: var(--text-black) !important;
    }
    button:hover {
      color: var(--blue-color) !important;
      border: none !important;
    }
  }
  .mobileSelector {
    display: none;

    @media only screen and (max-width: 1024px) {
      display: block;
      max-width: 352px;
      width: 100%;
    }

    @media only screen and (max-width: 440px) {
      min-width: 100%;
    }
  }

  .copy_btn {
    background: transparent !important;
    border: 0;
  }
}
