.create_plan_container {
  .create_plan_form {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    border-radius: var(--table-box, 20px);
    background: var(--Text-white);

    .form_input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        color: var(--primary-text-color);
        font-family: var(--primary-font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .ant-select-selector {
        background: transparent !important;
        border: 1px solid var(--gray) !important;

        &:focus-within {
          border: 1px solid var(--blue-color) !important;
          background: var(--Table-header-fill) !important;
        }
      }
    }

    .row1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
      gap: 20px;

      @media only screen and (max-width: 650px) {
        grid-template-columns: 100%;
      }
    }
    .row2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      @media only screen and (max-width: 650px) {
        grid-template-columns: 100%;
      }
    }
    .create_button_wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .create_btn {
        max-width: 155px;

        @media only screen and (max-width: 800px) {
          max-width: 100%;
        }
      }
    }
  }
}

.blackColor {
  color: var(--text-black);
}
