.stageManager_container {
  display: flex !important;
  flex-direction: column;
  gap: 20px;

  h2 {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    // margin-block-end: 20px;
  }
  .header_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    @media only screen and (max-width: 748px) {
      flex-direction: column;
      gap: 10px;
    }
    h2 {
      margin-right: auto;
      @media only screen and (max-width: 748px) {
        text-align: left !important;
      }
    }
  }
  .status_green {
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--green-border-color);
    background: var(--green-bg-color);
  }

  .status_red {
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--red-border-color);
    background: var(--red-bg-color);
  }

  .status_yellow {
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--yellow-border-color);
    background: var(--yellow-bg-color);
  }

  .table_header_filter {
    display: flex !important;
    justify-content: space-between;
    gap: 20px;

    @media only screen and (max-width: 1410px) {
      flex-wrap: wrap;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .search_box_wrapper {
      width: 100%;
      max-width: 352px !important;

      @media only screen and (max-width: 806px) {
        max-width: 352px !important;
        min-width: 0 !important;
      }
      @media only screen and (max-width: 440px) {
        width: 100% !important;
        min-width: 100% !important;
      }
    }

    .ant-picker {
      max-height: 44px;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid var(--Stroke, #252a29);
      background: var(--Text-white);
      width: 100%;
      max-width: 364px;
      flex-basis: 30%;
      flex-shrink: 2;
      .ant-picker-input {
        input {
          color: var(--primary-text-color) !important;
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &::placeholder {
            color: var(--primary-text-color);
          }
        }
      }

      .ant-picker-active-bar {
        display: none;
      }

      .ant-picker-range-separator {
        span {
          color: var(--primary-text-color) !important;
        }
      }
      .ant-picker-suffix {
        cursor: pointer !important;
        span {
          svg {
            fill: var(--primary-text-color);
          }
        }
      }
    }
  }
  .filter_buttons {
    display: flex;
    gap: 6px;
    padding: 4px;
    align-items: center;

    @media only screen and (max-width: 900px) {
      max-width: fit-content;
    }

    @media only screen and (max-width: 570px) {
      button {
        padding: 4px 2px;
      }
    }

    border-radius: var(--Corner-1, 5px);
    border: 1px solid var(--Stroke, #252a29) !important;
    background: var(--Text-white);
    button {
      border-radius: var(--Corner-1, 5px);
      background: transparent !important;
      color: var(--text-black);
      border: none;
    }
    .active {
      background: var(--blue-color) !important;
      color: var(--text-black) !important;
    }
    .active:hover {
      color: var(--text-black) !important;
    }
    button:hover {
      color: var(--blue-color) !important;
      border: none !important;
    }
  }

  .stages_header_main {
    display: flex;
    gap: 6px;
    padding: 4px;
    align-items: center;
    width: fit-content;

    @media only screen and (max-width: 570px) {
      width: 100%;
      button {
        padding: 4px 2px;
        width: 100%;
      }
    }

    border-radius: var(--Corner-1, 5px);
    border: 1px solid var(--Stroke, #252a29) !important;
    background: var(--Text-white);
    button {
      border-radius: var(--Corner-1, 5px);
      background: transparent !important;
      color: var(--text-black);
      border: none;
    }
    .active {
      background: var(--blue-color) !important;
      color: var(--text-black) !important;
    }
    .active:hover {
      color: var(--text-black) !important;
    }
    button:hover {
      color: var(--blue-color) !important;
      border: none !important;
    }
  }

  .copy_btn {
    background: transparent !important;
    border: 0;
  }

  .accnt_metrics_btn {
    max-width: 125px;
    height: 31px;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--blue-color);
  }
  .action_btn {
    max-width: 125px;
    min-height: 31px;
  }
  .comment-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .action_button {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    .standard_button.custom {
      min-height: 31px !important;
    }
    .standard_button:hover {
      background: var(--blue-color);
      color: var(--text-black);
    }

    .reject_button {
      display: flex;
      height: 31px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-bottom: 1px solid var(--Stroke, #252a29);

      border-radius: 10px;
      border: 1px solid var(--blue-color);

      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .reject_button:hover {
      border: 1px solid var(--blue-color);
      color: var(--text-black);
      background: var(--blue-color);
    }
  }

  .modal_wrapper {
    border-radius: var(--table-box, 20px);
    background: var(--navy-blue);
  }
  .account_metrics_btn {
    display: flex;
    max-height: 31px;
    // padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--blue-color);
    color: var(--text-black);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      border: 1px solid var(--blue-color) !important;
      background: transparent !important;
      color: var(--text-black) !important;
    }
  }

  .status_button,
  .status_dropdown_option {
    color: var(--text-black) !important;
    border: 0;
    background: transparent;
    padding: 0 !important;

    &:hover {
      border: 0 !important;
      background: transparent !important;
      color: var(--text-black) !important;
    }
    p,
    .status-button {
      display: flex;
      min-width: 120px;
      height: 31px;
      padding: 6px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid transparent;

      &.in_progress {
        border: 1px solid var(--yellow-border-color);
        background: var(--yellow-bg-color);
      }
      &.approved {
        border: 1px solid var(--green-border-color);
        background: var(--green-bg-color);
      }
      &.flagged {
        border: 1px solid var(--orange-border-color);
        background: var(--orange-bg-color);
      }
      &.rejected {
        border: 1px solid var(--red-border-color);
        background: var(--red-bg-color);
      }
      &.new {
        border: 1px solid var(--blue-color);
        background: var(--new-body, #c5ffff);
      }
    }
  }
}

.nestedTable {
  display: grid;
  grid-template-columns: repeat(7, 125px);
  gap: 40px;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // padding: 1rem;

  button.status_success {
    display: flex;
    width: 114px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--green-border-color);
    background: var(--green-bg-color);

    color: var(--text-black);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  button.status_warning {
    display: flex;
    width: 114px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--sucess, #f20000);
    background: var(--Success-Body, #ffe1e1);

    color: var(--text, #141414);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .notButton {
    display: none;
  }

  p {
    color: var(--navy-blue);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    // white-space: nowrap;
  }

  .date_time {
    max-width: 200px;
  }
  // .nestedTableUpperSide{
  //   display: flex;
  //   justify-content: space-between;

  // }
  // .nestedTableDownSide{
  //   display: flex;
  //   justify-content: space-between;

  // }
}

.lableWhite {
  color: var(--Text-white);
  > label {
    color: var(--Text-white);
  }
}

.supportModel {
  > label {
    color: var(--Text-white);
  }
}

.supportFilterParent {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;

  @media only screen and (max-width: 890px) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  > .ant-picker {
    // margin-right: 20px;
    max-width: 352px !important;
    width: 100%;

    @media only screen and (max-width: 806px) {
      max-width: 352px !important;
      // max-width: none !important;
    }
    @media only screen and (max-width: 440px) {
      width: 100%;
      max-width: none !important;
    }
  }

  @media (max-width: 748px) {
    margin-left: auto;
  }
  @media (max-width: 440px) {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.expanded_detail_box {
  width: 100%;
  grid-column: span 7;
  .payoutNestedTable {
    display: grid;
    // grid-template-columns: repeat(7,140px);
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
    gap: 35px;
    width: 100% !important;
    .view_settlements_btn {
      min-height: 31px;
      padding: 0px 10px;
      border-radius: 10px;
      color: var(--navy-blue);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      max-width: 167px;
    }
  }
}
.nestedPayoutRow2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .comment_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .editIconContent {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.text {
  color: var(--navy-blue);
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;

  // width: max-content;
  // white-space: pre-wrap
}

.downlaodIconClass {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  cursor: pointer;
}

.ant-form-item-row {
  flex-direction: column;
  align-items: flex-start;
  .ant-form-item-control {
    width: 100%;
  }
}
.settlement_details {
  width: 700px !important;

  @media (max-width: 748px) {
    width: 500px !important;
  }
}
