.stageManager_container {
  display: flex !important;
  flex-direction: column;
  gap: 20px;

  h2 {
    color: var(--Text-white, #fff);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status_green{
    border-radius: var(--Corner-Radius, 10px);
border: 1px solid var(--sucess, #009017);
background: var(--Success-Body, #CDFFDD);
  }

  .status_red{
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Failed, #F20000);
    background: var(--Failed-body, #FFE1E1);
  }

  .status_yellow{
    border-radius: var(--Corner-Radius, 10px);
border: 1px solid var(--In-progress, #F4EA0F);
background: var(--in-Progress-Body, #FFFDCF);
  }

  .table_header_filter {
    display: flex !important;
    gap: 20px;

    @media only screen and (max-width: 1410px) {
      flex-wrap: wrap;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .ant-picker {
      max-height: 44px;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid var(--Stroke, #252a29);
      background: var(--Main-Background, #f6fefe);
      width: 100%;
      max-width: 364px;
      flex-basis: 30%;
      flex-shrink: 2;
      .ant-picker-input {
        input {
          color: var(--primary-text-color) !important;
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &::placeholder {
            color: var(--Paragraph-text-colour, #a6a6a6);
          }
        }
      }

      .ant-picker-active-bar {
        display: none;
      }

      .ant-picker-range-separator {
        span {
          color: #a6a6a6 !important;
        }
      }
      .ant-picker-suffix {
        cursor: pointer !important;
        span {
          svg {
            fill: #a6a6a6;
          }
        }
      }
    }
  }
  .filter_buttons {
    display: flex;
    gap: 6px;
    padding: 4px;
    align-items: center;

    @media only screen and (max-width: 900px) {
      max-width: fit-content;
    }

    @media only screen and (max-width: 570px) {
      button {
        padding: 4px 2px;
      }
    }

    border-radius: var(--Corner-1, 5px);
    border: 1px solid var(--Stroke, #252a29) !important;
    background: var(--Main-Background, #f6fefe);
    button {
      border-radius: var(--Corner-1, 5px);
      background: transparent !important;
      color: #1e1e1e;
      border: none;
    }
    .active {
      background: #04d9ff !important;
      color: #000 !important;
    }
    .active:hover {
      color: #000 !important;
    }
    button:hover {
      color: #04d9ff !important;
      border: none !important;
    }
  }

  .copy_btn {
    background: transparent !important;
    border: 0;
  }

  .accnt_metrics_btn {
    max-width: 125px;
    height: 31px;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Brand-1, #04d9ff);
  }
  .action_btn {
    max-width: 125px;
    min-height: 31px;
  }
  .comment-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .action_button {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    .standard_button.custom {
      min-height: 31px !important;
    }
    .standard_button:hover {
      background: #04d9ff;
      color: #000;
    }

    .reject_button {
      display: flex;
      height: 31px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-bottom: 1px solid var(--Stroke, #252a29);

      border-radius: 10px;
      border: 1px solid var(--Brand, #04d9ff);

      color: var(--Text-white, #1e1e1e);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .reject_button:hover {
      border: 1px solid var(--Brand, #04d9ff);
      color: var(--Text-white, #1e1e1e);
      background: var(--Inner-box-BG, #04d9ff);
    }
  }

  .modal_wrapper {
    border-radius: var(--table-box, 20px);
    background: var(--Brand-2, #12181f);
  }
  .account_metrics_btn {
    display: flex;
    max-height: 31px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--Brand, #04d9ff);
    color: var(--Text-white, #1e1e1e);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      border: 1px solid var(--Brand, #04d9ff) !important;
      background: transparent !important;
      color: var(--Text-white, #1e1e1e) !important;
    }
  }

  .status_button,
  .status_dropdown_option {
    color: #1e1e1e !important;
    border: 0;
    background: transparent;
    padding: 0 !important;

    &:hover {
      border: 0 !important;
      background: transparent !important;
      color: var(--Text-white, #1e1e1e) !important;
    }
    p,
    .status-button {
      display: flex;
      width: 92px;
      height: 31px;
      padding: 6px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid transparent;

      &.in_progress {
        border: 1px solid var(--In-progress, #f4ea0f);
        background: var(--in-Progress-Body, #fffdcf);
      }
      &.approved {
        border: 1px solid var(--sucess, #009017);
        background: var(--Success-Body, #cdffdd);
      }
      &.flagged {
        border: 1px solid #f26419;
        background: var(--Flagged-Body, #ffddcb);
      }
      &.rejected {
        border: 1px solid var(--Failed, #f20000);
        background: var(--Failed-body, #ffe1e1);
      }
      &.new {
        border: 1px solid var(--Brand-1, #04d9ff);
        background: var(--new-body, #c5ffff);
      }
    }
  }

  .comment_box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    p {
      max-width: 252px;
    }
  }
}

.nestedTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  button.status_success {
    display: flex;
    width: 114px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--sucess, #009017);
    background: var(--Success-Body, #cdffdd);

    color: var(--text, #141414);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .notButton {
    display: none;
  }

  p {
    color: var(--Brand-2, #12181f);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
  }

  .date_time {
    max-width: 109px;
  }
}

.lableWhite {
  > label {
    color: white;
  }
}
