.createCompetition_container {
  .createCompetition_wrapper {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background: var(--Text-white);

    .createCompetitionForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form_input_box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          color: var(--text-black);
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .ant-picker {
          border-radius: var(--Corner-Radius, 10px);
          border: 1px solid var(--gray);
          background: transparent !important;

          &:focus-within {
            background: var(--Text-white) !important;
            border: 1px solid var(--blue-color) !important;
          }
        }
      }

      .topSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;

        .ant-select-selector {
          border: 1px solid var(--gray) !important;
        }
      }

      .bottomSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        @media only screen and (max-width: 460px) {
          grid-template-columns: 100%;
        }

        .ant-picker {
          max-width: 100%;
        }
      }

      .footer_section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .ant-input-textarea-affix-wrapper {
          min-height: 93px;

          textarea {
            border-radius: var(--Corner-Radius, 10px);
            border: none !important;
            background: var(--Text-white) !important;
          }
        }

        button {
          max-width: 155px;
          margin-left: auto;
        }
      }
    }
  }
  .page_header {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .breadcrumb {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
}
