.coupon_container {
  .ant-select{
    width: 100%;
  }
  .header_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      margin-left: auto;
    }

    .header_row2 {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;

      .create_coupon_btn {
        button {
          color: var(--Text-white, #ffffff);
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background: transparent;
          border-radius: 10px;
          border: 1px solid var(--Brand, #04d9ff);
          min-height: 40px;
        }

        @media only screen and (max-width: 934px) {
          margin-left: auto !important;
        }
      }

      .filter_buttons {
        margin: 0 auto;
        margin-right: 0;

        @media only screen and (max-width: 934px) {
          margin-left: 0 !important;
        }
      }
    }
  }

  .coupon_status_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    p {
      color: var(--text, #141414);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      display: flex;
      width: 100%;
      max-width: 92px;
      padding: 6px 10px;
      justify-content: center;
      align-items: center;
      border-radius: var(--Corner-Radius, 10px);
      border: 1px solid transparent;
      background: transparent;

      &.active {
        border: 1px solid var(--sucess, #009017);
        background: var(--Success-Body, #cdffdd);
      }
      &.inactive {
        border: 1px solid var(--Failed, #f20000);
        background: var(--Failed-body, #ffe1e1);
      }
    }
  }

  .actn_btn_container {
    display: flex;
    gap: 20px;
    > div {
      display: flex;
      height: 100%;
      min-height: 30px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 10px;

      font-family: var(--primary-font-family);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;

      &.private {
        color: #f6fefe;
        background: var(--Brand, #04d9ff);
      }
      &.public {
        color: #1e1e1e;
        border: 1px solid var(--Brand, #04d9ff);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--Corner-Radius, 10px);
      background: #eee;
      display: flex;
      height: 100%;
      max-width: 46px;
      min-height: 31px;
      padding: 0px 20px;
      color: var(--Text-white, #1e1e1e);
      font-family: var(--primary-font-family);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;

      &:hover {
        color: var(--Text-white, #1e1e1e) !important;
        border: 1px solid var(--Text-white, #1e1e1e) !important;
      }
    }
  }
}
