.pieChart_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    color: var(---text-black);
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .row1_wrapper {
    display: flex;
    justify-content: space-around;
    // width: 100%;
    // gap: 13px;
    // justify-content: space-between;
    @media only screen and (max-width: 650px) {
      flex-direction: column;
    }
    #chart {
      @media only screen and (max-width: 650px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .apexcharts-legend {
      height: 100% !important;
      position: absolute;
      left: auto;
      top: 0px !important;
      right: 0px !important;
      padding: 0 !important;
      justify-content: center !important;
      gap: 20px;

      @media only screen and (max-width: 650px) {
        display: none;
      }
      .apexcharts-legend-series {
        display: flex;
        align-items: center;
        gap: 10px;
        .apexcharts-legend-marker {
          width: 19px !important;
          height: 19px !important;
          border-radius: 2px !important;
        }
        .apexcharts-legend-text {
          color: var(--primary-text-color) !important;
          font-family: "Nunito Sans" !important;
          font-size: 16px !important;
          font-style: normal !important;
          font-weight: 400 !important;
          line-height: 24px !important;
        }
      }
    }

    .labels_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      @media only screen and (max-width: 650px) {
        display: none !important;
      }
      .label_with_value {
        .value {
          color: var(--text-black);
          font-family: "Nunito Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
    .mobileLabels_container {
      @media only screen and (min-width: 650px) {
        display: none !important;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      .label_with_value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .labels {
          display: flex;
          gap: 10px;
          align-items: center;

          .square {
            background-color: var(---text-black);
            width: 20px !important;
            height: 20px !important;
          }
          .label {
            color: var(--primary-text-color) !important;
            font-family: "Nunito Sans" !important;
            font-size: 16px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 24px !important;
          }
        }
        .value {
          color: var(--text-black);
          font-family: "Nunito Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }
}
