.export_history_btn {
  button {
    display: flex;
    height: 32px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Green, #a3ea93);
    background: transparent !important;
    color: var(--Text-white, #1e1e1e);
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      border: 1px solid var(--Green, #a3ea93) !important;
      color: var(--Text-white, #1e1e1e) !important;
    }
  }

}

.aff_export{
  .download_btn{
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--sucess, #009017);
    background: var(--Success-Body, #CDFFDD); 
}
}
