.ant-modal-content {
  background: var( --navy-blue) !important;

  // .export_modal_wrapper{
  // border-radius: var(--table-box, 20px);
  // border: 1px solid var(--Box-1, #27313E);
  // background: var(--Brand-2, #12181F);
  // }

  .ant-modal-close-x {
    color: var(--Text-white) !important;
  }
  .ant-modal-body {
    color: var(--Text-white);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .ant-modal-header {
    background: var( --navy-blue) !important;
    .ant-modal-title {
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.ant-table-thead {
  tr:not(:last-child) {
    border-bottom: 1px solid rgba(9, 9, 9, 0.94) !important;
  }
}

.daily_stats {
  .ant-table-thead > tr > th {
    text-wrap: nowrap !important;
    color: var(--text-black);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .ant-table-thead > tr:first-child th {
    border-bottom: 1px solid #cfcfcf !important;
  }
}

.withdrawal_status_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header_wrapper {
    button {
      margin-left: auto;
    }
  }

  .table_header_filter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    @media only screen and (max-width: 1400px) {
      flex-wrap: wrap;
    }

    .header_left {
      display: flex;
      align-items: center;
      gap: 53px;
      justify-content: space-between;
      width: 100%;

      @media only screen and (max-width: 1290px) {
        flex-wrap: wrap;
        gap: 20px;
      }
    }

    .header_middle {
      display: flex;
      align-items: center;
      gap: 10px;

      @media only screen and (max-width: 650px) {
        flex-wrap: wrap;
      }
    }

    .filter_btns {
      display: flex;
      gap: 20px;
      min-height: 46px;
      flex-wrap: wrap;
      .ant-btn {
        border-radius: 10px;
        background: var(--Text-white);
        display: flex;
        height: 46px;
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--text-black);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .export_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    @media only screen and (max-width: 1400px) {
      margin-left: auto;
    }

    .link {
      color: var(--blue-color);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
      text-wrap: nowrap;
    }

    button {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      min-height: 44px;
      padding: 0px 15px;
      border-radius: 10px;
      background: var(--Text-white);

      &:hover {
        border: 1px solid var(--Text-white) !important;
        color: var(--text-black) !important;
        background: var(--Text-white) !important;
      }
    }
  }

  .comment_desc_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      max-width: 252px;
    }

    img {
      cursor: pointer;
    }
  }

  .status_select_wrapper {
    .ant-select {
      display: flex;

      .ant-select-selector {
        padding: 0 !important;
        border: 0 !important;
        background: transparent !important;
        box-shadow: 0 !important;

        .ant-select-selection-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 92px;
          max-height: 31px;
          padding: 6px 10px;
          border-radius: var(--Corner-Radius, 10px);
          border: 1px solid transparent;
        }
      }

      .ant-select-arrow {
        padding: 0 !important;
        right: 5px;
      }

      &.new {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid var(--blue-color);
          }
        }
      }

      &.in_progress {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid var(--text-black);
          }
        }
      }

      &.approved {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid var(--green-bg-color);
          }
        }
      }

      &.flagged {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid var(--orange-bg-color);
          }
        }
      }

      &.dismissed {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid var(--red-bg-color);
          }
        }
      }
    }
  }
}

.ant-form-item-label {
  label {
    color: var(--Text-white) !important;
  }
}
