.countryWiseOverviewTable_wrapper {
  .ant_table_container {
    .ant-table-tbody > tr > td {
      &:first-child {
        min-width: 30px !important;
      }
    }
  }
  .ant-picker {
    min-height: 44px;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Stroke, #252a29);
    background: var(--Main-Background, #f6fefe);
    width: 100%;
    max-width: 364px;
    flex-basis: 100%;
    flex-shrink: 0;
    .ant-picker-input {
      input {
        color: var(--primary-text-color) !important;
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &::placeholder {
          color: var(--Paragraph-text-colour, #a6a6a6);
        }
      }
    }

    .ant-picker-active-bar {
      display: none;
    }

    .ant-picker-range-separator {
      span {
        color: #a6a6a6 !important;
      }
    }
    .ant-picker-suffix {
      cursor: pointer !important;
      span {
        svg {
          fill: #a6a6a6;
        }
      }
    }
  }

  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 800px) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    .rangeBtn_wrapper {
      position: relative;
      button {
        display: flex;
        height: 44px;
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--Stroke, #fff) !important;
        background: #fff !important;
        color: var(--Paragraph-text-colour, #1e1e1e);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
