.trader_journal_main {
  .delete_btn {
    display: flex;
    width: 120px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Failed, #f20000);

    color: var(--Failed, #f20000);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
