.editCouponModal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 11, 0.2);
  backdrop-filter: blur(2px);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  .editCouponModal_wrapper {
    display: flex;
    width: 100%;
    max-width: 580px;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    color: var(--text-black);
    border-radius: var(--Outside-box, 10px);
    border: 1px solid var(--Stroke, #252a29);
    background: var(--Text-white);
    position: relative;
    height: 70vh;
    overflow: auto;
    .header_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h3 {
        color: var(--text-black);
        font-family: var(--primary-font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .editCouponForm {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form_input_box {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .ant-select {
          .ant-select-selector {
            border-radius: var(--Corner-Radius, 10px) !important;
            border: 1px solid var(--gray) !important;
            background: transparent !important;

            &:focus-within {
              border: 1px solid var(--blue-color) !important;
              background: var(--Table-header-fill) !important;
            }

            .ant-select-selection-placeholder {
              padding-left: 10px;
            }
          }
        }

        .ant-input-affix-wrapper {
          &:focus-within {
            border: 1px solid var(--blue-color) !important;
            background: var(--Table-header-fill) !important;
          }
          .ant-input {
            padding-left: 10px !important;
            border: 0 !important;
            &:focus-within {
              background: var(--Table-header-fill) !important;
            }
          }
        }

        .ant-picker {
          background: transparent !important;
          border: 1px solid var(--gray) !important;

          &:focus-within {
            border: 1px solid var(--blue-color) !important;
            background: var(--Table-header-fill) !important;
          }

          .ant-picker-input {
            padding-left: 10px;
          }
        }
      }

      .topSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .bottomSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
        gap: 20px;
      }

      .footerSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .status_checkbox_wrapper {
          .ant-checkbox-wrapper {
            span {
              color: var(--text-black);
              font-family: var(--primary-font-family);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }

        .save_changes_btn {
          color: var(--Text-white);
          font-family: "Nunito Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: flex;
          max-width: 155px;
          width: 100%;
          height: 44px;
          padding: 0px 20px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: var(--blue-color);
          margin-left: auto;

          @media only screen and (max-width: 432px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
