.competition_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
  .table_header_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .create_btn {
    background: transparent !important;
    border-radius: 10px;
    border: 1px solid #04d9ff;
    color: #fff;
    max-width: 155px;
  }
  .competition_data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 100%;
    }

    .competition_card_container {
      display: flex;
      padding: 20px;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      border-radius: 20px;
      background: var(--white, #fff);
      color: #1e1e1e;
      .header_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h4 {
          color: var(--Text-white, #1e1e1e);
          font-family: var(--primary-font-family);
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .competition_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .topSection {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          width: 100%;

          .label {
            color: var(--Paragraph-text-colour, #a6a6a6);
            font-family: "Nunito Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .value {
            color: var(--Text-white, #1e1e1e);
            font-family: "Nunito Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .bottomSection {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          @media only screen and (max-width: 630px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
          }

          > div {
            flex: 1;
          }

          .status_box,
          .participants_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
          }

          .status_box {
            border-right: 1px solid #252a29;

            @media only screen and (max-width: 630px) {
              border-right: 0;
            }

            .label {
              color: var(--Paragraph-text-colour, #a6a6a6);
              font-family: "Nunito Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .status_value {
              text-transform: capitalize;
              display: flex;
              width: 100%;
              max-width: 92px;
              padding: 6px 10px;
              justify-content: center;
              border-radius: var(--Corner-Radius, 10px);
              align-items: center;
            }

            .ongoing {
              border-radius: var(--Corner-Radius, 10px);
              border: 1px solid var(--sucess, #009017);
              background: var(--Success-Body, #cdffdd);
            }

            .upcoming {
              border-radius: var(--Corner-Radius, 10px);
              border: 1px solid var(--Brand-1, #04d9ff);
              background: var(--new-body, #c5ffff);
            }

            .ended {
              border-radius: var(--Corner-Radius, 10px);
              border: 1px solid var(--Failed, #f20000);
              background: var(--Failed-body, #ffe1e1);
            }
          }
          .participants_info {
            justify-content: flex-end;
          }
        }
      }
      .prize_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        border: 1px solid var(--Stroke, #252a29);
        display: flex;
        padding: 10px;
        align-items: flex-start;

        .prizes_wrapper {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;

          @media only screen and (max-width: 630px) {
            grid-template-columns: 100%;
          }

          .prize_box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            padding: 15px;
            border-radius: 20px;
            background: var(--Box-1, #27313e);
            .label {
              color: var(--white, #fff);
              font-family: "Nunito Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .value {
              color: var(--Brand, #04d9ff);
              font-family: "Nunito Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
        }
      }
    }
    .view_board {
      display: flex;
      min-height: 46px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: var(--Brand, #04d9ff);
      color: #12181f;
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.edit_modal {
  display: flex;
  width: 100%;
  max-width: 580px;
  padding: 0px !important;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  border-radius: var(--Outside-box, 10px);
  position: relative;

  .ant-btn-default {
    color: #09090b !important;
  }
  .ant-input {
    margin-top: 10px !important;
  }

  .ant-modal-title {
    color: #09090b !important;
    background: var(--Main-Background, #fff) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .ant-modal-content {
    svg {
      fill: #000 !important;
    }

    display: flex;
    width: 100%;
    padding: 20px !important;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    border: none !important;
    background: var(--Main-Background, #fff) !important;
    max-height: 70vh !important;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      padding-left: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #75ebc3;
      border-radius: 50px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #0f0f11;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #75ebc3;
    }
  }
  label {
    color: #09090b;
  }
}

.edit_competition_form {
  display: flex;
  width: 100%;
  max-width: 580px;
  flex-direction: column;
  gap: 20px;

  .form_group_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .form_group {
    display: flex;
    flex-direction: column;
    .ant-picker {
      max-width: 100% !important;
    }
    .ant-select{
      width: 100%;
    }
  }
}
