.AccountMetrics_main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .AccountMetrics_header {
    display: flex;
    justify-content: space-between;

    .tabs_wrapper {
      display: block;
    }

    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  .breadcrums {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
