.AccountMetrics_main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .AccountMetrics_header {
    display: flex;
    justify-content: space-between;

    .tabs_wrapper {
      display: block;
    }

    @media (max-width: 1220px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  .breadcrums {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .StatusFilters{
    @media(max-width:990px){
      display: none;
    }
  }
  .mobileFilters{
    display: none;
    @media (max-width:990px){
      display: inline;
    }
  }
  .ant-radio-button-wrapper{
    >span{
      text-wrap: wrap;
    }
  }
}
// 1095