.ant-modal-content {
  // background: var(--Canvas-BG, #161d26) !important;

  // .export_modal_wrapper{
  // border-radius: var(--table-box, 20px);
  // border: 1px solid var(--Box-1, #27313E);
  // background: var(--Brand-2, #12181F);
  // }

  .ant-modal-close-x {
    color: white !important;
  }
  .ant-modal-body {
    color: var(--white, #fff);
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    .btn_wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 20px;
      .ant-btn {
        border-radius: 10px;
        background: #04d9ff;
        display: flex;
        width: 155px;
        height: 46px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .ant-modal-header {
    background: var(--Canvas-BG, #161d26) !important;
    .ant-modal-title {
      color: var(--white, #fff);
      font-family: "Nunito Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.withdrawal_status_container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header_wrapper {
    button {
      margin-left: auto;
    }
  }

  .status_btn {
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--sucess, #009017);
    background: var(--Success-Body, #cdffdd);
    display: flex;
width: 92px;
padding: 6px 10px;
justify-content: center;
align-items: center;
gap: 10px;
  }
  .table_header_filter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    @media only screen and (max-width: 1400px) {
      flex-wrap: wrap;
    }

    .header_left {
      display: flex;
      align-items: center;
      gap: 53px;

      @media only screen and (max-width: 1290px) {
        flex-wrap: wrap;
        gap: 20px;
      }
    }

    .header_middle {
      display: flex;
      align-items: center;
      gap: 10px;

      @media only screen and (max-width: 650px) {
        flex-wrap: wrap;
      }
    }

    .filter_buttons {
      min-height: 44px;
    }
  }

  .export_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    @media only screen and (max-width: 1400px) {
      margin-left: auto;
    }

    .link {
      color: var(--Brand-1, #04d9ff);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
    }

    button {
      color: var(--Text-white, #1e1e1e);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      min-height: 44px;
      padding: 0px 15px;
      border-radius: 10px;
      background: #f6fefe;

      &:hover {
        border: 1px solid var(--Text-white, #f6fefe) !important;
        color: var(--Text-white, #1e1e1e) !important;
        background: var(--Stroke, #f6fefe) !important;
      }
    }
  }

  .comment_desc_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      max-width: 252px;
    }

    img {
      cursor: pointer;
    }
  }

  .status_select_wrapper {
    .ant-select {
      display: flex;

      .ant-select-selector {
        padding: 0 !important;
        border: 0 !important;
        background: transparent !important;
        box-shadow: 0 !important;

        .ant-select-selection-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 92px;
          max-height: 31px;
          padding: 6px 10px;
          border-radius: var(--Corner-Radius, 10px);
          border: 1px solid transparent;
        }
      }

      .ant-select-arrow {
        padding: 0 !important;
        right: 5px;
      }

      &.new {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid #00a3ff;
          }
        }
      }

      &.in_progress {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid #1e1e1ea8;
          }
        }
      }

      &.approved {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid #a3ea93;
          }
        }
      }

      &.flagged {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid #ff7b36;
          }
        }
      }

      &.dismissed {
        .ant-select-selector {
          .ant-select-selection-item {
            border: 1px solid #f97f7f;
          }
        }
      }
    }
  }
}

// Calendar modal CSS
.calendarModal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 9, 11, 0.2);
  backdrop-filter: blur(2px);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;

  .calendarModal_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header_wrapper {
      button {
        margin-left: auto;
      }
    }

    .table_header_filter {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;

      @media only screen and (max-width: 1400px) {
        flex-wrap: wrap;
      }

      .header_left {
        display: flex;
        align-items: center;
        gap: 53px;

        @media only screen and (max-width: 1290px) {
          flex-wrap: wrap;
          gap: 20px;
        }
      }

      .header_middle {
        display: flex;
        align-items: center;
        gap: 10px;

        @media only screen and (max-width: 650px) {
          flex-wrap: wrap;
        }
      }

      .filter_buttons {
        min-height: 44px;
      }
    }

    .export_btn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-end;

      @media only screen and (max-width: 1400px) {
        margin-left: auto;
      }

      .link {
        color: var(--Brand-1, #04d9ff);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
      }

      button {
        color: var(--Text-white, #1e1e1e);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        min-height: 44px;
        padding: 0px 15px;
        border-radius: 10px;
        background: #f6fefe;

        &:hover {
          border: 1px solid var(--Text-white, #f6fefe) !important;
          color: var(--Text-white, #1e1e1e) !important;
          background: var(--Stroke, #f6fefe) !important;
        }
      }
    }

    .comment_desc_wrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        max-width: 252px;
      }

      img {
        cursor: pointer;
      }
    }

    .status_select_wrapper {
      .ant-select {
        display: flex;

        .ant-select-selector {
          padding: 0 !important;
          border: 0 !important;
          background: transparent !important;
          box-shadow: 0 !important;

          .ant-select-selection-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 92px;
            max-height: 31px;
            padding: 6px 10px;
            border-radius: var(--Corner-Radius, 10px);
            border: 1px solid transparent;
          }
        }

        .ant-select-arrow {
          padding: 0 !important;
          right: 5px;
        }

        &.new {
          .ant-select-selector {
            .ant-select-selection-item {
              border: 1px solid #00a3ff;
            }
          }
        }

        &.in_progress {
          .ant-select-selector {
            .ant-select-selection-item {
              border: 1px solid #1e1e1ea8;
            }
          }
        }

        &.approved {
          .ant-select-selector {
            .ant-select-selection-item {
              border: 1px solid #a3ea93;
            }
          }
        }

        &.flagged {
          .ant-select-selector {
            .ant-select-selection-item {
              border: 1px solid #ff7b36;
            }
          }
        }

        &.dismissed {
          .ant-select-selector {
            .ant-select-selection-item {
              border: 1px solid #f97f7f;
            }
          }
        }
      }
    }
  }
}
