
        .Infobox_wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
          gap: 20px;
  
          .Infobox_content {
            display: flex;
            max-height: 190px;
            padding: 20px;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 15px;
            flex: 1 0 0;
            border-radius: var(--table-box, 20px);
            background: #fff;
  
            .Infobox_label {
              color: var(--secondary-sb-200-paragraph-text-i-con, #8f8f8f);
              font-family: "Nunito Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .Infobox_value {
              color: var(--White, #1e1e1e);
              font-family: "Nunito Sans";
              font-size: 20px;
              font-style: normal;
              font-weight: 900;
              line-height: 119%; /* 28.56px */
              text-wrap: nowrap;
              &.profit_value {
                color: #8bfb88;
              }
            }
          }
        }
 
  