.risk_management_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 650px) {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  }

  .ant-typography {
    color: var(--Text-white) !important;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
  }

  .row1_box {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr !important;



    @media only screen and (max-width: 1110px) {
      grid-template-columns: 100% !important ;
    }
    @media only screen and (max-width: 900px) {
      grid-template-columns: 100% !important;
    }

    .pieChart_container {
      width: 100%;
      max-width: 100%;
      padding-block: 20px;
      border-radius: 20px;
      background: var(--Text-white);

      @media only screen and (max-width: 900px) {
        max-width: 100%;
      }
    }
    .fundingTotalProgress_container {
      width: 100%;
    }
  }

  .ant-picker {
    min-height: 44px;
    border-radius: var(--Corner-Radius, 10px);
    border: 1px solid var(--Stroke, #252a29);
    background: var(--Text-white);
    width: 100%;
    max-width: 364px;
    flex-basis: 100%;
    flex-shrink: 0;
    .ant-picker-input {
      input {
        color: var(--text-black) !important;
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &::placeholder {
          color: var(--text-black);
        }
      }
    }

    .ant-picker-active-bar {
      display: none;
    }

    .ant-picker-range-separator {
      span {
        color: var(--text-black) !important;
      }
    }
    .ant-picker-suffix {
      cursor: pointer !important;
      span {
        svg {
          fill: var(--text-black);
        }
      }
    }
  }
}
