.payout_wrapper {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--table-box, 20px);
  background: var(--Text-white);

  .payout_header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    h3 {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
