.Cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
  gap: 20px;

  .Cards_content {
    display: flex;
    max-height: 190px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    border-radius: var(--table-box, 20px);
    background: var(--Text-white);
    .Cards_content_wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .Cards_label {
      color: var(--primary-text-color);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .Cards_value {
      color: var(--text-black);
      font-family: "Nunito Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      line-height: 119%; /* 28.56px */
      text-wrap: wrap;
      &.profit_value {
        color: var( --green-shade0);
      }
    }
  }
}
