/* reset css */
* {
  box-sizing: border-box;
  @media only screen and (max-width: 380px) {
    font-size: 14px;
  }
}

html,
body {
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--primary-font-family);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: var(--primary-font-family);
}

/* reset css END */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(./assets/fonts/NunitoSans.ttf);
}

.form-header {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: normal;
  text-transform: capitalize;
}

.form-caption {
  color: var(--text-grey-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--fw-normal);
  line-height: normal;
  text-transform: capitalize;
}

.accent-button {
  display: flex;
  width: 100%;
  height: 50px;
  border: 0.5px solid var(--Text-Medium, #333);
  border-radius: 8px;
  background: var(--primary-p-blue-100-main, #04d9ff);
  color: #1e1e1e;
  font-family: var(--primary-font-family);
  font-weight: var(--fw-medium);
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover !important;
}

.component-heading {
  color: var(--White, #1e1e1e);

  font-family: var(--primary-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: normal;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.ant-select {
  width: 100%;
  min-height: 44px;

  .ant-select-selector {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: var(--Corner-2, 10px) !important;
    border: 1px solid var(--Brand, #04d9ff) !important;
    background: var(--Main-Background, #f6fefe) !important;
    padding: 10px 4px !important;

    .ant-select-selection-item {
      color: #1e1e1e !important;
    }
  }

  .ant-select-arrow {
    color: #1e1e1e !important;
    padding-right: 10px;
  }
  .ant-select-selection-placeholder {
    color: #1e1e1e !important;
  }
  .ant-select-selection-item {
    color: var(--primary-font-family) !important;
  }
}

/* .ant-select-dropdown {
  color: #1E1E1E !important;
  background: var(--Main-Background, #F6FEFE) !important;
} */

.ant-input {
  width: 100%;
  min-height: 44px;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 20px !important;
  border-radius: var(--Corner-Radius, 10px) !important;
  border: 1px solid var(--Text-2, #686868) !important;
  &:focus-within {
    border: 1px solid var(--Brand-1, #04d9ff) !important;
    background: var(--Table-header-fill, #edf0f0) !important;
  }

  &::placeholder {
    color: #1e1e1e !important;
  }
  
}

.standard_button {
  display: flex;
  width: 100%;
  border: 0;
  min-height: 44px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: var(--Brand, #04d9ff);
  color: var(--Main-Background, #12181f);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover {
    border: 1px solid var(--Brand-1, #04d9ff);
    background: transparent !important;
  }
}

/* Input Autocomplete Background Color for Chrome, Safari, Edge, Opera */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #939393;
  background-color: none !important;
  transition: 5000s ease-in-out 0s !important;
  box-shadow: none !important;
}

.ant-picker-panel-layout {
  gap: 10px !important;
  padding: 15px;
  border-radius: var(--Corner-2, 10px);
  border: 1px solid var(--Stroke, #252a29);
  background: var(--Stroke, #252a29);
  @media only screen and (max-width: 912px){
    display: flex;
    flex-direction: column;
  }
  .ant-picker-presets {
    border-radius: var(--table-box, 20px);
    background: #fff;
    max-width: none !important;
    ul {
      @media only screen and (max-width: 912px){
        height: 100% !important;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 33px;
        color: var(--Text-white, #1e1e1e);
        font-family: "Nunito Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 7px 10px;
        background: #fff;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid var(--Brand, #04d9ff) !important;
        }
      }
    }
  }

  .ant-picker-panel {
    padding: 15px !important;
    border-radius: var(--Corner-2, 10px) !important;
    background: #fff !important;
    color: #1e1e1e !important;

    .ant-picker-datetime-panel {
      .ant-picker-date-panel {
        color: #1e1e1e !important;

        .ant-picker-header {
          color: #1e1e1e !important;

          button {
            color: #1e1e1e !important;
          }
        }
        .ant-picker-body {
          color: #1e1e1e !important;
          .ant-picker-content {
            tbody {
              tr {
                td {
                  color: #1e1e1e !important;
                }
              }
            }
          }
        }
      }
      .ant-picker-time-panel {
        .ant-picker-header-view {
          color: #1e1e1e;
        }
        .ant-picker-content {
          .ant-picker-time-panel-column {
            > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
              color: #000 !important;
              background: var(--Brand, #04d9ff) !important;
            }
            .ant-picker-time-panel-cell {
              .ant-picker-time-panel-cell-inner {
                color: #1e1e1e !important;
              }
            }
          }
        }
      }
      .ant-picker-dropdown .ant-picker-time-panel-column {
        scrollbar-width: thin;
        scrollbar-color: #04d9ff !important;
      }
    }
  }

  .ant-picker-footer {
    .ant-picker-ranges {
      .ant-picker-now {
        a {
          color: #1e1e1e !important;
        }
      }

      .ant-picker-ok {
        button {
          color: #030504 !important;
          background: var(--Brand, #04d9ff) !important;
        }
      }
    }
  }
}

.status_green {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--sucess, #009017);
  background: var(--Success-Body, #cdffdd);
}

.status_red {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--Failed, #f20000);
  background: var(--Failed-body, #ffe1e1);
}

.status_yellow {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--In-progress, #f4ea0f);
  background: var(--in-Progress-Body, #fffdcf);
}

.search_box_wrapper {
  display: flex;
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--Stroke, #252a29);
  background: var(--Main-Background, #f6fefe);
  // width: 100%;
  width: 400px;
  max-width: 350px;
  max-height: 44px;

  @media only screen and (max-width: 1280px) {
    min-width: fit-content;
  }

  @media only screen and (max-width: 806px) {
    min-width: 100%;
    max-width: 100% !important;
    min-height: 40px;
  }
  @media only screen and (max-width: 440px) {
    width: 300px;
    margin-right: auto;
  }
  .left_side_box {
    display: flex;
    width: 100%;
  }
  .ant-select {
    max-width: fit-content;
    .ant-select-selector {
      color: var(--Paragraph-text-colour, #a6a6a6) !important;
      font-family: var(--primary-font-family) !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: 1px solid var(--Stroke, #f0f0f0) !important;
      background: var(--Inner-box-BG, #f5f5f5) !important;
      max-width: 170px;
      max-height: 42.48px;
      @media only screen and (max-width: 768px) {
        font-size: 12px !important;
        padding: 0px 10px !important;
      }
    }
    .ant-select-arrow {
      padding-right: 0 !important;
    }
  }
  input {
    color: var(--Paragraph-text-colour, #1e1e1e) !important;
    font-family: var(--primary-font-family) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: var(--Corner-Radius, 10px);
    border: 0 !important;
    background: var(--Main-Background, #f6fefe);
    padding: 12px 20px;
    width: 100%;
    // max-width: 325px;
    &::placeholder{
      color: #1e1e1e !important;
    }
    @media only screen and (max-width: 768px) {
      font-size: 14px !important;
      padding: 0px 10px !important;
    }
    @media only screen and (max-width: 810px) {
      max-width: 100%;
    }

    &:focus-within {
      border: 0 !important;
      outline: 0 !important;
    }
  }
  .searchImg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px var(--Corner-Radius, 10px) var(--Corner-Radius, 10px) 0px;
    background: var(--Brand, #04d9ff);
    width: 100%;
    max-width: 44px;
  }
}

// Radio Button CSS
.tabs_wrapper {
  display: flex;
  gap: 10px;
  width: fit-content;

  @media only screen and (max-width: 800px) {
    width: 100%;
    justify-content: space-between;
  }

  @media only screen and (max-width: 420px) {
    flex-direction: column;
  }

  .ant-radio-group {
    border-radius: var(--Corner-1, 5px);
    border: 1px solid var(--Stroke, #252a29);
    background: var(--Main-Background, #f6fefe);
    padding: 4px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 540px) {
      max-width: fit-content;
    }
  }
  .ant-radio-button-wrapper {
    background: var(--Main-Background, #f6fefe);
    border: none !important;
    &::before {
      content: none;
    }
    span {
      color: var(--Paragraph-text-colour, #12181f);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .ant-radio-button-wrapper-checked {
    border-radius: var(--Corner-1, 5px);
    background: var(--Brand, #04d9ff);
    span {
      color: var(--Main-Background, #12181f);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .standard_button {
    min-width: 155px;

    @media screen and (max-width: 500px) {
      max-width: 100px !important;
      min-width: 100px;
    }
    @media only screen and (max-width: 420px) {
      min-width: 100%;
      min-height: 30px;
    }
    @media only screen and (max-width: 800px) {
      max-width: 155px;
    }
  }
}

// View Log Btn CSS
.view_logs__btn {
  max-width: 155px;
  color: #12181f !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// Breadcrumb CSS
.ant-breadcrumb {
  ol {
    align-items: center;
    li {
      .ant-breadcrumb-link {
        a {
          display: flex;
          align-items: center;
          color: var(--Text-white, #ffffff);
          font-family: "Nunito Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
        }
      }
      &.ant-breadcrumb-separator {
        color: #ffffff;
      }
      &:last-child {
        span {
          color: #ffffff !important;
          font-size: 16px !important;
          font-style: normal;
          font-weight: 400 !important;
          line-height: normal;
        }
        a {
          color: #ffffff !important;
          font-size: 16px !important;
          font-style: normal;
          font-weight: 400 !important;
          line-height: normal;
        }
      }
    }
  }
}

.ant-table-wrapper .ant-table-cell-scrollbar:not([rowspan]){
  box-shadow: none !important;
}
.searchImg{
  cursor: pointer;
}

// Calendar CSS
.ant-picker {
  min-height: 44px;
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--Stroke, #252a29);
  background: var(--Main-Background, #f6fefe);
  width: 100%;
  max-width: 319px;
  max-height: 45px;

  &:hover {
    background: var(--Main-Background, #f6fefe);
  }

  &:focus-within {
    background: var(--Main-Background, #f6fefe);
  }

  @media only screen and (max-width: 800px) {
    min-height: 44px;
    max-width: 100%;
  }

  .ant-picker-input {
    input {
      color:#000 !important;
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      &::placeholder {
        color: var(--Paragraph-text-colour, #1e1e1e);
      }
    }
  }

  .ant-picker-active-bar {
    display: none;
  }

  .ant-picker-range-separator {
    span {
      color: #12181f !important;
    }
  }
  .ant-picker-suffix {
    cursor: pointer !important;
    span {
      svg {
        fill: #12181f;
      }
    }
  }
}

// Filter Button CSS
.filter_buttons {
  display: flex;
  gap: 6px;
  padding: 4px;
  align-items: center;
  border-radius: var(--Corner-1, 10px);
  border: 1px solid var(--Stroke, #252a29) !important;
  background: var(--Main-Background, #f6fefe);

  @media only screen and (max-width: 650px) {
    flex-wrap: wrap;
  }

  button {
    border-radius: var(--Corner-1, 5px);
    background: transparent !important;
    color: #1e1e1e;
    border: none;
  }
  .active {
    background: #04d9ff !important;
    color: #000 !important;
  }
  .active:hover {
    color: #000 !important;
  }
  button:hover {
    color: #04d9ff !important;
    border: none !important;
  }
}

// Page Header CSS
.page_header {
  color: var(--Text-white, #fff);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

// Input  CSS
.ant-input-affix-wrapper {
  max-height: 44px;
  flex-direction: row-reverse;
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--Text-2, #686868) !important;

  &:hover {
    border: 1px solid var(--Brand, #04d9ff);
    background: var(--Inner-box-BG, #f6fefe) !important;
  }
  &:focus-within {
    border: 1px solid var(--Brand, #04d9ff) !important;
    background: var(--Main-Background, #f6fefe) !important;
  }

  .ant-input {
    color: var(--Text-white, #1e1e1e) !important;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0 !important;
    min-height: 34px !important;
    border-radius: var(--Corner-Radius, 10px) !important;
    border: 1px solid var(--Text-2, #686868) !important;
    background: transparent !important;
    &:focus-within {
      background: var(--Main-Background, #f6fefe) !important;
    }
  }
}

.view_logs__btn {
  &:hover {
    color: #f6fefe !important;
    background: var(--Brand, #04d9ff) !important;
  }
}

// Copy Text Button CSS
.copy_text_btn {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background: transparent !important;
    border: 0 !important;
    margin: 0 !important;
  }
}

.status_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.mobile_headers {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
    h4 {
      color: var(--Text-white, #fff) !important;
      font-family: var(--primary-font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
}

// Date & time picker
.ant-picker-dropdown {
  .ant-picker-datetime-panel {
    @media only screen and (max-width: 600px) {
      flex-direction: column !important;
    }
  }

  .ant-picker-panel-layout {
    @media only screen and (max-width: 600px) {
      flex-direction: column !important;
    }

    .ant-picker-panel {
      .ant-picker-year-panel {
        .ant-picker-header {
          button {
            color: #1e1e1e !important;
          }
        }
        .ant-picker-body {
          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }

          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }
        }
      }

      .ant-picker-month-panel {
        .ant-picker-header {
          button {
            color: #1e1e1e !important;
          }
        }
        .ant-picker-body {
          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }

          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }
        }
      }

      .ant-picker-decade-panel {
        .ant-picker-header {
          button {
            color: #1e1e1e !important;
          }
          div {
            color: #1e1e1e !important;
          }
        }
        .ant-picker-body {
          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }

          .ant-picker-content {
            tbody {
              tr {
                td {
                  div {
                    color: #1e1e1e !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.ant-checkbox-checked {
  background-color: #04d9ff !important;
  border-color: #04d9ff !important;
}

// Country with flag field CSS
.country_name_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 27px !important;
    height: 27px !important;
    border-radius: 100% !important;
    object-fit: cover;
  }
}

// Expandable Row Table CSS
.expandable_description {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  .description_box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      color: var(--Box-1, #27313e);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    p {
      color: var(--Brand-2, #12181f);
      font-family: "Nunito Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.tabs_wrapper .ant-radio-group {
  border: none !important;
  background: #f5f5f5;
}

.status_green {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--sucess, #009017);
  background: var(--Success-Body, #cdffdd);
}

.status_red {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--Failed, #f20000);
  background: var(--Failed-body, #ffe1e1);
}

.status_yellow {
  border-radius: var(--Corner-Radius, 10px);
  border: 1px solid var(--In-progress, #f4ea0f);
  background: var(--in-Progress-Body, #fffdcf);
}

html * {
  &::-webkit-scrollbar {
    width: 8px;
    padding-left: 5px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--Brand, #04d9ff);
    border-radius: 50px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--Brand, #04d9ff);
  }
}

:where(.css-dev-only-do-not-override-m4timi).ant-select-dropdown .ant-select-item-group {
  color:#1e1e1e;
}

:where(.css-dev-only-do-not-override-m4timi).ant-select-single .ant-select-selector .ant-select-selection-search {
  inset-inline-end:  none !important;
  inset-inline-start: 5px !important;
}

textarea:where(.css-dev-only-do-not-override-m4timi).ant-input{
  resize: none;
}