.userDetails_wrapper {
  padding: 20px;
  border-radius: var(--table-box, 20px);
  background: var(--text-black);
  width: 100%;
  max-width: 835px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header_wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    img {
      cursor: pointer;
    }
  }
  .close_icon {
   
    cursor: pointer;
    color: var(--Text-white);
    transition: color 0.3s ease; 
  }
  .topSection_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .list_header {
      color: var(--Text-white);
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    @media only screen and (max-width: 650px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      gap: 20px;
    }

    .rightSection {
      display: flex;
      flex-direction: row;

      .groupB {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;

        a {
          p {
            color: var(--blue-color);
            font-family: "Nunito Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            text-wrap: nowrap;
          }
        }
      }
    }
  }

  .verified_purchase_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
