.ant-layout {
  min-height: 100vh;
  background: #161d26;

  @media only screen and (max-width: 768px) {
    margin-left: 0 !important;
  }
}

.logo-container {
  margin-bottom: 50px;
  padding-top: 47px;
  margin-left: 20px;
}

.ant-layout-sider,
.ant-menu {
  border-radius: var(--Corner-2, 10px) !important;
  background: var(--second-Background, #12181f) !important;
}

.ant-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // margin-left: 10px;
  padding: 0 10px;
}

.ant-menu-submenu {
  width: 100%;
  .ant-menu-submenu-title {
    display: flex;
  }
  &.ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      color: #04d9ff;
    }
    svg {
      fill: #04d9ff;
      stroke: #04d9ff;
      g {
        path {
          fill: #04d9ff;
        }
      }
    }
  }
}

.ant-menu-item {
  margin-top: 20px;
  width: 100%;
  padding: 10px !important;
  display: flex !important;
  align-items: center;

  .ant-menu-item-icon {
    vertical-align: 0.825em !important;
  }
}

.ant-menu-submenu {
  width: 100%;

  .ant-menu-submenu-title {
    padding: 10px !important;
    width: 100%;
  }

  .ant-menu-sub {
    padding-left: 20px !important;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
  }

  &.ant-menu-submenu-open .ant-menu-sub {
    max-height: 1000px; /* Large enough value to accommodate the submenu items */
  }
  .ant-menu-submenu-arrow {
    top: 58% !important;
    inset-inline-end: 5px !important;
  }
}

.ant-layout-header {
  h1 {
    color: var(--Text-white, #fff);
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}
.ant-menu-item-selected {
  border-radius: var(--Corner-2, 10px) !important;
  background: var(--Nav-Menu-selection, #0b1017) !important;

  .ant-menu-title-content {
    color: var(--Brand, #04d9ff);
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  svg {
    fill: #04d9ff;
    stroke: #04d9ff;
    g {
      path {
        fill: #04d9ff;
      }
    }
  }
}
.ant-layout-sider {
  scrollbar-width: none; /* For Firefox */

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.ant-layout-sider::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.mobile_menu_header {
  display: none;

  @media only screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1111;
    background: var(--Brand-2, #12181f);
    button {
      color: #f6fefe !important;
      border-radius: 10px !important;
      background: var(--Brand, #04d9ff) !important;
      border: 0 !important;
    }
  }
}

.ant-drawer {
  .ant-drawer-content-wrapper {
    @media only screen and (max-width: 430px) {
      width: 100% !important;
    }

    .ant-drawer-content {
      background: var(--second-Background, #0f0f11);
      .ant-drawer-header {
        display: none;
      }
      .ant-drawer-body {
        padding-top: 75px;
        background: var(--second-Background, #0f0f11);
        .ant-menu {
          margin-left: 0;
        }

        &::-webkit-scrollbar {
          width: 5px;
          padding-left: 5px;
          height: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #04d9ff;
          border-radius: 50px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #0f0f11;
          border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #04d9ff;
        }
      }
    }
  }
}

.ant-layout-content {
  @media only screen and (max-width: 768px) {
    margin-top: 95px !important;
  }
}

.nestedItems {
  > span {
    text-wrap: wrap;
    line-height: 20px !important;
    padding-left: 10px !important;
    // padding-block: 10px !important;
  }
}

.main_header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 109px;
  padding: 20px;
  background: #12181f;

  .user_profile {
    display: flex;
    border-radius: var(--Corner-Radius, 10px);
    background: var(--Canvas-BG, #161d26);
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: 20px;
    p {
      color: #fff;
      font-family: "Nunito Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

@media only screen and (max-width: 600px) {
  .ant-layout-content {
    margin: 30px 10px !important;
    padding: 24px 10px !important;
    margin-top: 95px !important;
  }
}
